
#login-box {position: relative; display: flex; width: 600px; height: auto; background:#060c21; border-radius:12px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);}
#login-box::before{content: ''; position: absolute; top: -2px; right: -2px; bottom: -2px; left: -2px; background: linear-gradient(315deg,#e91e63,#5d02ff); z-index: -1; transform: skew(2deg,1deg); border-radius:12px;}
#login-box .left {padding: 30px; width: 50%;}

#login-box .or {position: absolute; top: 180px; left: 280px; width: 40px; height: 40px; background: #DDD;border-radius: 50%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); line-height: 40px; text-align: center;}

#login-box .right {box-sizing: border-box; padding: 40px; width: 50%; background:var(--light-pink-color); border-radius: 0 10px 10px 0;}
#login-box .right .loginwith {display: block; margin-bottom: 30px; font-size: 28px; font-weight:500; text-align: center;}
#login-box button.social-signin {margin-bottom: 20px;width: 220px;height: 36px;border: none;border-radius: 30px;color: #FFF;font-weight: 600;transition: 0.2s ease;cursor: pointer;text-transform:uppercase;}
#login-box button.social-signin:hover,
#login-box button.social-signin:focus {box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); transition: 0.2s ease;}
#login-box button.social-signin:active {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); transition: 0.2s ease;}
#login-box button.social-signin.facebook {background: #32508E;}
#login-box button.social-signin.twitter {background: #55ACEE;}
#login-box button.social-signin.google {background: #DD4B39;}