:root{
    --light-gray-color:#f1f1f1;
    --gray-color:#dde2e1;
    --dark-gray-color:#b8b8b8;
    --dark-color:#212135;
    --white-color:#ffffff;
    --light-blue-color:#b2ccfd;
    --blue-color:#0672ca;
    --dark-blue-color:#04536b;
    --light-green-color:#c4fdb2;
    --green-color:#5dd438;
    --dark-green-color:#2b6619;
    --light-red-color:#facbcb;
    --red-color:#cf1b1b;
    --dark-red-color:#810e0e;
    --light-pink-color:#fcd2dc;
    --pink-color:#df2251;
    --dark-pink-color:#83132f;
    --yellow-color:#FEB027FF;
    --pink-color:#FF4A73FF;
    --gradient-color:linear-gradient(90deg,rgba(254, 176, 39, 1) 0%, rgba(255, 74, 115, 1) 100%);
    --gradient-color-2:linear-gradient(90deg,rgba(255, 74, 115, 1) 0%, rgba(254, 176, 39, 1) 100%);
}
body{font-size:14px; color:var(--dark-color);}
.circle{border-radius: 50% !important;}
.header .top-strip{background:var(--gradient-color);padding:8px 0; color:var(--white-color);}
.header-middle{padding:12px 0;}
.header-middle .logo img{max-width:140px; width: 100%; height:auto;}
.header-middle .country-dropdown{width:150px; height:46px; line-height:16px !important; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1); color:var(--dark-color); text-align:left !important; min-width:150px; border:1px solid var(--gray-color) !important;}
.header-middle .country-dropdown .info span{font-size:11px; opacity:.6;}
.header-middle .country-dropdown div{font-weight:600;}
.header-middle .country-dropdown svg{font-size:20px;}
.header-middle .search-wrap{max-width:590px; width:100%; margin:0 15px 0 30px;}
.header-middle .search-wrap .form-control{height:46px; background-color: var(--light-gray-color); border-radius:5px 0 0 5px; border-color:var(--light-gray-color);}
.header-middle .search-wrap .form-control:focus{background-color:var(--light-gray-color); outline: none; box-shadow: none; border-color:var(--light-gray-color);}
.header-middle .search-wrap button{width:46px !important; min-width:46px !important; background: var(--light-gray-color) !important; border-radius: 0 5px 5px 0; color: var(--dark-color);}
.header-middle .search-wrap button svg{font-size: 25px;}
.header-middle .right-part button{width:40px !important; min-width:40px !important; height:40px; border-radius:50% !important; border: 1px solid var(--light-gray-color); margin-left:15px; color: var(--dark-color); position: relative;}
.header-middle .right-part button .badge{position: absolute !important; background-color: var(--pink-color) !important; border-radius:100%; color:var(--white-color); top: 0; right: -6px;}
.header-middle .right-part button svg{font-size:20px;}
.header-middle button:focus{outline: none !important;}
